<!DOCTYPE html>
<%- include('../partials/_head') %>

<body>
	<%- include('../partials/_header') %>
	<% if(user && userId){if(userId.toString() === user._id.toString() || admin){ %> 
		<%=user.username %> 
		<!-- Display Form To Change User To Admin -->
		<%if (user.isAdmin) {%>
			<p><%= user.username %> has admin privileges</p>
		<%} else if(admin) {%>
			<form action="/users/<%= user._id %>?_method=PUT" method="POST">
				<button type="submit">Add <%= user.username %> as admin</button>
			</form>
		<%}%>	
	<% } else{ %>
		<h3>You are not <%= user.username %>! Get out of here! </h3>
	<% } } else { %>
		<h3>You must login to view user profiles.</h3>
	<% } %>
</body>

</html>
