<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>

  <body>
    <%- include('../partials/_header') %>
    <div class="products-container">
      <% for(let product of products){ %>
      <!--  -->
      <div class="product">
        <img src="<%= product.img %>" alt="" />
        <section>
          <p><%= product.name %></p>
          <p>$<%= product.price %></p>
        </section>
      </div>
      <!--  -->
      <% } %> <%if(admin){ %>
      <div class="product">
        <a href="/products/create">Add New Product</a>
      </div>
      <%}%>
    </div>
    <!--  -->
  </div>
</body>

</html>
